In [1]:
import pandas as pd
import numpy as np

In [16]:
df = pd.read_csv('corrected_data.csv', skipinitialspace=True, sep=',')
df.head()

,Unnamed: 0,год,время_года,климат,город,страна,способ_охлаждения,режим_при_смешанном_типе_охлаждения,способ_обогрева,возраст,...,скорость_воздуха,рост,вес,занавески,вентилятор,окно,двери,отопление,среднемесячная_температура_на_улице,количество_рекламаций
0,0,2011,Лето,Cубтропический океанический,Техас,США,Кондиционирование,NaN,NaN,22.0,...,0.26,NaN,NaN,1.0,1.0,NaN,NaN,NaN,28.9,0
1,1,2011,Лето,Cубтропический океанический,Техас,США,Кондиционирование,NaN,NaN,40.0,...,0.12,NaN,NaN,0.0,0.0,NaN,NaN,NaN,84.0,0
2,2,2011,Лето,Cубтропический океанический,Техас,США,Кондиционирование,NaN,NaN,42.0,...,0.08,NaN,NaN,0.0,0.0,NaN,NaN,NaN,32.8,0
3,3,2011,Лето,Cубтропический океанический,Техас,США,Кондиционирование,NaN,NaN,27.0,...,27.16,NaN,NaN,1.0,1.0,NaN,NaN,NaN,28.9,1
4,4,2011,Лето,Cубтропический океанический,Техас,США,Кондиционирование,NaN,NaN,46.0,...,63.83,NaN,NaN,1.0,1.0,NaN,NaN,NaN,32.8,0

In [17]:
df = df.rename(columns={'Unnamed: 0': 'id'})

In [20]:
df = df.set_index('id')

In [21]:
df.to_csv('corrected_data.csv')